@font-face {
    font-family: slim-font;
    src: url('../assets/fonts/Lato/Lato-Hairline.ttf');
}@font-face {
    font-family: light-font;
    src: url('../assets/fonts/Lato/Lato-Light.ttf');
}@font-face {
    font-family: regular-font;
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

.container-home{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.glyphicon{
    margin-right: 10px;
}