<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="form-inline">
            <div class="form-group">

                <label for="selectTransaction">Select transaction :</label>
                <select id="selectTransaction" class="form-control" style="width: 175px;" name="transaction" ng-model="selectedTransaction" ng-change="getRecords()" ng-options=" transaction.id as transaction.created_time for transaction in transactions"></select>
            </div>
        </div>
    </div>
    <div class="panel-body" id="no-more-tables">
        <p class="lead text-center" id="textlead" ng-show="!records.length">Please select the transaction</p>
        <table id="transaction-table" class="table table-striped table-condensed" ng-show="records.length">
            <thead ng-show="records.length">
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td data-title="ID">{{ record.id }}</td>
                    <td data-title="Brand">{{ record.brand }}</td>
                    <td data-title="Model">{{ record.model }}</td>
                    <td data-title="Price">{{ record.price | currency : 'THB '}}</td>
                    <td data-title="Quantity">{{ record.quantity }}</td>
                </tr>
                <tr >
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Tax 7% : </td>
                    <td data-title="Tax">{{ records[0].transactions.tax | currency : records[0].transactions.currency }}</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Shipping : </td>
                    <td data-title="Shipping">{{ records[0].transactions.shipping | currency : records[0].transactions.currency }}</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Total : </td>
                    <td data-title="Total">{{ records[0].transactions.total_price  | currency : records[0].transactions.currency  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-right">
        <div class="dropdown col-xs-offset-4 col-md-offset-8 col-lg-offset-10">
            <button class="btn btn-primary dropdown-toggle" id="nav-locator-dropdown" data-toggle="dropdown"><i
                    class="fa fa-bars"></i> Export transaction
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="nav-locator-dropdown">
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'json',escape:'false'});">
                    <img src='../assets/icons/json.png' width='24px'> JSON</a></li>
                <li class="divider"></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'xml',escape:'false'});">
                    <img src='../assets/icons/xml.png' width='24px'> XML</a></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'sql'});">
                    <img src='../assets/icons/sql.png' width='24px'> SQL</a>
                </li>
                <li class="divider"></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'csv',escape:'false'});">
                    <img src='../assets/icons/csv.png' width='24px'> CSV</a></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'txt',escape:'false'});">
                    <img src='../assets/icons/txt.png' width='24px'> TXT</a></li>
                <li class="divider"></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'excel',escape:'false'});">
                    <img src='../assets/icons/xls.png' width='24px'> XLS</a></li>
                <li class="divider"></li>
                <li><a href="#history" onClick="$('#transaction-table').tableExport({type:'pdf',escape:'false',pdfFontSize:'10',columnSpacing:'35'});">
                    <img src='../assets/icons/pdf.png' width='24px'> PDF</a></li>

            </ul>
        </div>
    </div>
</div>