<div class="panel panel-primary">
    <div class="panel-heading">
         <label for="selectTransaction">Select transaction :</label>
         <select id="selectTransaction" name="transaction" id="transaction" ng-model="selectedTransaction" ng-change="getRecords()" ng-options=" transaction.id as transaction.created_time for transaction in transactions"></select>
    </div>
    <div class="panel-body">
        <p class="lead text-center" ng-show="!records.length">Please select the transaction</p>
        <table class="table table-striped" ng-show="records.length">
            <thead ng-show="records.length">
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td>{{ record.id }}</td>
                    <td>{{ record.brand }}</td>
                    <td>{{ record.model }}</td>
                    <td>{{ record.quantity }}</td>
                    <td>{{ record.price | currency : 'THB '}}</td>
                </tr>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax 7% : </td>
                    <td>{{ records[0].transactions.tax | currency : 'THB ' }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Shipping : </td>
                    <td>{{ records[0].transactions.shipping | currency : 'THB ' }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total : </td>
                    <td>{{ records[0].transactions.total_price  | currency : 'THB ' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>